body{
	mergin: 0;
	padding: 0;
	background-image: url('car.jpg');
	background-size:cover;
	background-position:center;
	font-family: sans-serif;

}
 
.loginbox
{	border: 2px solid black;
	width:320px;
	background: #000;
	color: #fff;
	top:50%;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: boarder-box;
	border-radius:10px;
padding: 70px 30px;
}
.resister{
border: 2px solid black;
}
 .avatar{
border: 2px solid black;
	width:50px;
	height:50px;
	border-radius:50;
	position: absolute;
	top: -10px;
	left: calc(100%-50px);
}
#sam
{
border: 2px solid black;
width: 350px;
height:400px;
background-color:black;
border-radius:10px;
color:white;
}
  .txt{
   color:black;
}
.txt1{
color:white;
}
#sam a
{
 color:white;
}	
